<div class="row margin-row padding">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
			<h3>+ Create a new ad</h3>
		</div>
	</div>
	<div class="row border-row ad-form">
		<form>
		<div class="col-xs-12 col-sm-6 col-md-6 no-padding">
			<div class="form-elm">
				<label for="input-title">Title:</label>
				<input type="text" name="input-title" />
			</div>
			<div class="form-elm">
				<label for="input-price">Price:</label>
				<input type="text" name="input-price" />
			</div>
			<div class="form-elm">
				<label for="input-price">Image:</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 no-padding">
			<div class="form-elm">
				<label for="input-desc">Description:</label>
				<textarea rows="6" cols="50" name="input-desc" ></textarea>
			</div>
		</div>
		</form>
	</div>
</div>
<div class="row padding">
	<div class="col-xs-12 col-sm-12 col-md-12 no-padding">
		<h3>+ My ads list</h3>
	</div>
</div>